DATABASE_URL=
# Secret key for JWT token generation
JWT_SECRET_KEY=
# The username for connecting to the database
DATABASE_USER="postgres"
DATABASE_PASSWORD=""
DATABASE_HOST="localhost"
DATABASE_NAME="livana_db"
DATABASE_PORT="5433" # <--- ADD THIS LINE
HTTP_PORT="8080"

# AWS Configuration (OTP & Email)
AWS_REGION="ap-south-1"
SES_FROM_EMAIL="no-reply@yourdomain.com"
# Optional if using IAM Roles
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

# SMTP Configuration (Email OTP via Gmail)
SMTP_USERNAME=your_gmail@gmail.com
SMTP_PASSWORD=xxxx xxxx xxxx xxxx
SMTP_FROM=your_gmail@gmail.com
SMTP_FROM_NAME=Care Connect
